<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        type="text/css">
    <link rel="stylesheet" href="../css/style.css" type="text/css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <script src="../js/ProjectData.js"></script>
    <script src="../js/ProjectList.js"></script>
    

    <title>Portfolio</title>
</head>

<body>
    <div id="app">
        <div class="header">
            <div class="nav-bar">
                <a href="../../index.html">About me</a>
                <a style="text-decoration: overline" href="./games.html">Games</a>
                <a href="./resume.html">Resume</a>
                <a href="./contact.html">Contact</a>
            </div>
        </div>
        <div class="main">
            <div class="games">
                <h1>Games</h1>
                <div style="margin-bottom: 30px;">
                    The following are some stuff I've made throughout my time coding.
                </div>
              
                <div id="projects-list" class="projects-list">
                      
                </div>
                
                <div id="popup">
                <div id="overlay" class="overlay" style="display: none"></div>
                </div>
            </div>
        </div>
        <div class="footer">
            <!-- <div class="left"><a href="https://github.com/schouffy/gamedev-portfolio" target="blank">Portfolio</a> by
                Sebastian Latka</div> -->
            <div class="right">Reach me at <a href="mailto:realsplitgames@gmail.com">realsplitgames@gmail.com</a> or
                <a to="/contact.html">through here</a>
            </div>
        </div>
    </div>
</body>

</html>
